<div id="footer" class="container">
  <div class="row">
    <div class="col text-center">
      <ul>
        <li><a href='https://github.com/alanvardy/health'>GitHub</a></li>
      </ul>
    </div>

    <div class="col text-center">
      <p>Copyright &copy; <%= DateTime.utc_now.year %></p>
    </div>

    <div class="col text-center">
      <ul>
        <li>
          <%= link "Contact", to: Routes.contact_path(@conn, :new) %>
        </li>
      </ul>
    </div>
  </div>
</div>