<div class="cont">
  <h1>Edit Log</h1>
  <%= render "partials/form.html", Map.put(assigns, :action, Routes.weight_path(@conn, :update, @log)) %>
  <%= link "Back", to: Routes.weight_path(@conn, :index) %>
</div>