<h1>New Measurement</h1>

<%= render "partials/form.html", Map.put(assigns, :action, Routes.measurement_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.measurement_path(@conn, :index) %></span>
